<h1>New code snippet</h1>
<%= form_for @code do |f| %>
    <div>
      <%= f.label :kind %>
      <%= f.collection_select(:kind_id, Kind.all, :id, :name) %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :work %>
      <%= f.text_area :work,cols: "50", rows: "30" %>
    </div>
    <%= f.submit %>


<% end %>